<%= form_with(model: snow_datum, local: true) do |form| %>
  <% if snow_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snow_datum.errors.count, "error") %> prohibited this snow_datum from being saved:</h2>

      <ul>
        <% snow_datum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recent_time %>
    <%= form.text_field :recent_time %>
  </div>

  <div class="field">
    <%= form.label :recent_snowfall %>
    <%= form.number_field :recent_snowfall %>
  </div>

  <div class="field">
    <%= form.label :next_snowfall %>
    <%= form.number_field :next_snowfall %>
  </div>

  <div class="field">
    <%= form.label :next5_snowfall %>
    <%= form.number_field :next5_snowfall %>
  </div>

  <div class="field">
    <%= form.label :resort_id %>
    <%= form.number_field :resort_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
