<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Snow Forecast</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/states">States</a></li>
      <li><a href="/resorts">Resorts</a></li>
    </ul>
  </div>
</nav>

<div class = "container">
<p id="notice"><%= notice %></p>

<h1><%= @state.state_name %> Resorts
  <p><small><%= link_to @state.state_url, @state.state_url %></small></p>
</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Resort Name</th>
      <th>Resort URL</th>
    </tr>
  </thead>
  <tbody>
  <% @resorts.each do |resort| %>
    <tr>
      <td><%= link_to resort.resort_name, resort_path(:id => resort.id)%></td>
      <td><%= link_to @resort_url, resort.resort_url %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<button type = "button" class ="btn btn-info"><%= link_to 'Back', states_path %></button>
</div>