<div class = "container">
<p id="notice"><%= notice %></p>

<h1><%= @state.state_name %> Resorts
  <p><small><%= link_to @state.state_url, @state.state_url %></small></p>
</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Resort Name</th>
      <th>Resort URL</th>
    </tr>
  </thead>
  <tbody>
  <% @resorts.each do |resort| %>
    <tr>
      <td><%= link_to resort.resort_name, resort_path(:id => resort.id)%></td>
      <td><%= link_to @resort_url, resort.resort_url %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', states_path %>
</div>