<p id="notice"><%= notice %></p>

<h1>Resorts</h1>

<table>
  <thead>
    <tr>
      <th>Resort name</th>
      <th>Resort url</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resorts.each do |resort| %>
      <tr>
        <td><%= link_to @resort, resort.resort_name %></td>
        <td><%= link_to @resort_url, resort.resort_url %></td>
        <td><%= resort.state_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'States', "/state" %>



## recent_cm = resort.recent_snowfall * 2.54
