<%    
def convert_data_cm(data)
  data.nil? ? nil : data *2.54
end
%>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Snow Forecast</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/states">States</a></li>
      <li class="active"><a href="/resorts">Resorts</a></li>
    </ul>
  </div>
</nav>

<div class = "container">
<p id="notice"><%= notice %></p>

<h1><%= @resort.resort_name %> Snow Data
  <p><small><%= link_to @resort.resort_url, @resort.resort_url%></small></p>
</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Update Source/Time</th>
      <th>Recent Snow</th>
      <th>Next Day Snow</th>
      <th>Next 5 Days Snow</th>
    </tr>
  </thead>
  <tbody>
  <% @snow_data.each do |data| %>
    <tr>
      <td><%= data.recent_time %></td>
      <td><%= data.recent_snowfall %>" &nbsp;(<%= convert_data_cm(data.recent_snowfall) %>cm)</td>
      <td><%= data.next_snowfall %>" &nbsp;(<%= convert_data_cm(data.next_snowfall) %>cm)</td>
      <td><%= data.next5_snowfall %>" &nbsp;(<%= convert_data_cm(data.next5_snowfall) %>cm)</td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<button type = "button" class ="btn btn-info"><%= link_to 'Back', state_path(id: @resort.state_id) %></button>
</div>

