<div class = "container">
<p id="notice"><%= notice %></p>

<h1><%= @resort.resort_name %> Snow Data
  <p><small><%= link_to @resort.resort_url, @resort.resort_url%></small></p>
</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Update Source/Time</th>
      <th>Recent Snow</th>
      <th>Next Day Snow</th>
      <th>Next 5 Days Snow</th>
    </tr>
  </thead>
  <tbody>
  <% @snow_data.each do |data| %>
    <tr>
      <td><%= data.recent_time %></td>
      <td><%= data.recent_snowfall %>" &nbsp;(<%= data.recent_snowfall.nil? ? nil : data.recent_snowfall*2.54 %>cm)</td>
      <td><%= data.next_snowfall %>" &nbsp;(<%= data.next_snowfall.nil? ? nil : data.next_snowfall*2.54 %>cm)</td>
      <td><%= data.next5_snowfall %>" &nbsp;(<%= data.next5_snowfall.nil? ? nil : data.next5_snowfall*2.54 %>cm)</td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', state_path(id: @resort.state_id) %>
</div>
